*{
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    color: grey;
}



.navbar .nav-item .nav-link.active,
.navbar .nav-item .nav-link:hover{
    color: orange;
}

img{
    width: 110%;
    margin-right: 50px;
}

.col-8 h4{
    color: orange;
}

.ktk{
    color: orange;
}
/* 
.col-4{
    width: 10px;
} */
